{% extends 'partials/_master.twig' %}
{% block header %}
    {% include 'partials/_header.twig' %}
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-xs-8">

            {% for category in config.get('taxonomy/categories/options') %}
            {% setcontent records = 'entradas' where { categories: category } limit 5 %}
                <h3 class="page-header">{{category}}</h3>
                {% for record in records %}
                    <div class="post-preview">
                        <a href="{{ record.contenttype.singular_slug }}/{{ record.slug }}">
                            <h2 class="post-title">
                                {{ record.titulo }}
                            </h2>
    <!--
                            <h3 class="post-subtitle">
                                Problems look mighty small from 150 miles up
                            </h3>
    -->
                        </a>
                        <p class="post-meta">Publicado por {{ record.user.username }} el <i class="fa fa-calendar"></i> {{ record.datepublish }}</p>
                    </div>
                    <hr>
                {% else %}
                    No se han econtrado publicaciones
                {% endfor %}
            {% endfor %}

        </div>
        
        <div class="col-xs-4">
            <h2 class="page-header">Eventos por venir</h2>
            {% setcontent eventos = 'eventos' where { cuando: '>now' } limit 10 %}
            
            <ul class="list-unstyled">
            {% for evento in eventos %}
                <li>
                    <b>{{ evento.titulo }}</b><br />
                    <small>
                        <i class="fa fa-calendar"></i> {{ evento.cuando }}
                    </small>
                </li>
            {% else %}
                <li>No se han econtrado publicaciones</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock main %}