{% extends 'partials/_master.twig' %}
{% set eventos = record.related('eventos') %}


{% block header %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{{ image(record.imagen) }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{record.titulo}}</h1>
                    <h2 class="subheading"></h2>
                    <span class="meta">Publicado por {{ record.user.username }} el <i class="fa fa-calendar"></i> {{ record.datepublish }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}
{% block main %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <!-- Post Content -->
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well">
                            <em>{{record.descripcion}}</em>
                        </div>
                        {{record.contenido}}
                        
                        {% if eventos is not empty %}
                        <div class="panel panel-default">
                          <div class="panel-heading">Próximos eventos</div>
                            <ul class="list-group">
                                {% for evento in eventos %}
                                <li class="list-group-item">
                                    <strong>{{ evento.titulo }}</strong><br />
                                    {{ evento.descripcion }}
                                    <hr />
                                    <strong>Donde</strong>: {{ evento.donde }} | <strong>Cuando</strong>: {{ evento.cuando }} | <strong>Inversión</strong>: S/. {{ evento.costo }}
                                </li>
                                {%  endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
            
        </div>
    </div>
</div>
{% endblock main %}